/* Estilos generales */
body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          margin: 0;
          padding: 0;
          background-color: rgb(42, 42, 54);
      }
      
      .calendar {
          max-width: 800px;
          margin: 20px auto;
          background-color: #f1f1f3;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      h1, h2 {
          color: #d1d424;
          text-align: center;
      }
      
      .category {
          margin-bottom: 30px;
          border: 1px solid #ddd;
          border-radius: 8px;
          overflow: hidden;
      }
      
      .category h2 {
          background-color: #4CAF50;
          color: #fff;
          padding: 12px;
          margin: 0;
          text-align: center;
          border-bottom: 1px solid #388E3C;
      }
      
      ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
      }
      
      li {
          background-color: #f9f9f9;
          padding: 10px;
          margin-bottom: 5px;
          border-bottom: 1px solid #ddd;
      }
      
      li:last-child {
          border-bottom: none;
      }

body {
          /* Establece la imagen de fondo */
          background-image: url(/assets/images/bg-soccer-field.jpg);
          /* Ajusta la forma en que se muestra la imagen de fondo */
          background-size: cover; /* Cubre todo el área del cuerpo */
          background-position: center; /* Centra la imagen */
          background-repeat: no-repeat; /* Evita la repetición de la imagen */
          /* Añade un color de fondo como respaldo */
          background-color: #971515; /* Un color claro de respaldo */
      }
      
.imagen_de_fondo{
          /* Estilos opcionales para el contenido */
          max-width: 800px; /* Ancho máximo del contenido */
          margin: 0 auto; /* Centra el contenido horizontalmente */
          padding: 20px; /* Añade espacio alrededor del contenido */
          background-color: rgba(255, 255, 255, 0.8); /* Color de fondo semitransparente */
      }
      
      /* Estilos para otros elementos de la página */
      h1 {
          color: #333; /* Color del texto del encabezado */
      }
      
      p {
          color: #666; /* Color del texto del párrafo */
      }
      

      